.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0vw; /* Espacio entre las columnas */
  max-height: 87vh;
  overflow-y: auto;
  
}

.container::-webkit-scrollbar {
  width: 0.7vw; /* Ancho de la barra de desplazamiento */
}

.container::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del pulgar de la barra de desplazamiento */
}

.container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la pista de la barra de desplazamiento */
}